    <section>
        <h2>
            Lista de Quizzes
        </h2>

        <table border>
            <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
            </tr>
            <% for (let quiz of quizzes) { %>
                <tr>
                    <td><%= quiz.question %></td>
                    <td><%= quiz.answer %></td>
                </tr>
            <% } %>
        </table>
    </section>
